{% load widget_tweaks %}
{% load static %}
<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'css/favicon.ico' %}">
  <meta charset="utf-8">
  <title>Mafia online</title>
  <style>
body {
background-image: url({% static 'css/фон.jpg' %});
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}
</style>
    <link
     rel="stylesheet"
     href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>
        .i-am-centered {
            margin: auto;
            max-width: 500px;
            padding-top: 10%;
        }
    </style>
</head>

<body>
    <div class="i-am-centered">
        <div> Вы успешно вышли из аккаунта. </div>
        <br></br>
        <div> <a href="{% url 'login' %}"> Войти </a> </div>
    </div>
</body>